.App {
  text-align: center;
  background-color: rgb(57, 27, 187);
  width: 100%;
}


.weather{
  background-color:rgb(0, 225, 255);
  width: 20%;
  margin: 0 auto;
  padding:1rem;
  border-radius: 2rem;
  border:1px solid black;
  box-shadow: inset 5em 1em skyblue;
  position: absolute;
  top: 5rem;
  left: 35rem;
  
}
.App .weather  li{
  list-style: none;
}

.weather button{
  border-radius: .5rem;
  background-color:blueviolet;
}
